<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>my_profile</title>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/homepage.scss" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/header.js"></script>
	</head>
	<body>
		<%#= render "./nuts/header" %>
	
    

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="h1_font">果壳同行</h1>
            <h1 class="welcome_font">welcome</h1>
            <br><br></br></br>
            <div class="btn_center">
              <a href="login" class="btn-lg btn-default"> 登录 </a>
              <a href="signup" class="btn-lg btn-default mid"> 注册 </a>
              <a href="activites/all-events/" class="btn-lg btn-default"> 直接浏览 </a>
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> by dyc@ruby.com </p>
            </div>
          </div>

        </div>

	</body>
</html>


