<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>my_profile</title>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/nuts.scss" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/header.js"></script>
		<script src="/assets/nuts/user_profile.js"  type="text/javascript"></script>
	</head>
	<body>
		<%= render "./nuts/header" %>
		<div class="container wrap">
		    <h1>账户设置</h1>
		    <div id="main-body">
		    	<div id="left-list">
		    		<ul>
		    			<li class="tab">
		    				<%= link_to "基本信息", {:controller => "nuts" , :action => "user_profile_tab"},data:{tab: "info",name: session[:user_name]}%>
		    			</li>
		    			<li class="tab">
		    				<%= link_to "未读回复", {:controller => "nuts" , :action => "user_profile_tab"},data:{tab: "unread",name: session[:user_name]},class:"active"%>
		    			</li>
		    		</ul>
		    	</div>
		    	<div id="right-body">
		    		
		    	</div>
		    	
		    </div>
			
		</div>
	
	</body>
</html>


