// .inline-text{color:grey;}
.add,.each_comment .expand{display:none;}
.highlight{
    background-color :lightblue;
    transition:background 1s;
}


.wrap{padding: 40px 50px;display: flex; flex-direction: column;margin-top: 80px;}
#activity-abstract-header{display: flex;height: 300px;}
.activity-header-left{margin-right: 40px;width: 440px;}
.activity-header-right{flex:1;padding: 10px 0;}
.activity-title{font-size: 22px;font-family: "Microsoft Yahei";margin-bottom: 10px;}
.line-info{font-size: 14px;line-height: 2.5em;vertical-align: middle;font-family: "Microsoft Yahei";}



.activity_poster{
    width: 440px;
    height: 260px;
    background-size: cover;
    overflow: hidden;
}
.myicon
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}
.time-icon{
    background: url("/assets/backgrounds.32.png") -561px -102px;
}
.place-icon{
    background: url("/assets/backgrounds.32.png") -463px -20px;
    height: 17px;
    margin-top: 3px;
}
.join-btn{margin-top:20px;width: 150px;}


#activity-main-body{
    display: flex;
}
.activity-main-right{
    width: 300px;
    margin-left: 30px;
}

.activity-main-left{
    flex: 1;
}

.activity-main-left h3{border-bottom: 1px solid #f4f7fa;padding-bottom: 12px;font-family: "Microsoft Yahei";font-weight: 400;margin-top:30px;}


a.commentBtn
        {
            display: block;
            text-decoration: none;
            color: white;
            float: right;
            padding: 5px 20px;
            background-color: #70cb5c;
            border-color: #70cb5c;
            border-radius: 2px;
            &:hover
                {
                    background-color: #8BEC76;
                    border-color: #8BEC76;
                }
        }






.textarea{
       height: 80px;
       margin-bottom: 10px;
       border-radius: 2px;
       padding: 5px 10px;
       border: 1px solid #D4D6D8;
       box-sizing: content-box;
    }

#add_comment{
    textarea{
        width: 100%;
        height: 80px;
        color: #333;
        border: 0;
        margin: 0;
        padding: 0;
        resize: none;
        outline: none;
    }
    .comment_btn{
        
        
    }
    
}


#comment_district{
    .no-comment{
        .icon-warning{
            background-image: url("assets/backgrounds.32.png");
            background-position: -241px 0;
            width: 23px;
            height: 26px;
        }
    }
    
}

.each_comment
{
    margin-left: 30px;
    border-bottom: 1px solid #f4f7fa;
    min-height: 70px;
    .comment_from_person{
        font-family:"Microsoft Yahei";
        margin: 4px 0 8px;
    }
    .bottom-link{
        float: right;
        padding-right: 10px;
        span{
            background: url("/assets/backgrounds.32.png") -580px -108px;
            width: 15px;
            height: 12px;
            display: inline-block;
            margin-right: 5px;
            color: #a0a0a0;
        }
        .expand{
            display: inline-block;
            text-decoration: none;
            font-size: 12px;
            color: #a0a0a0;
        }
    }
    .add{
        background-color: #f4f7fa;
        width: 97%;
        height: 65px;
        padding: 6px 6px 40px;
        clear: both;
        box-sizing: content-box;
        textarea{
            height: 60px;
            margin-bottom: 3px;
            box-sizing: border-box;
            width: 100%;
            resize: none;
            outlline: none;
            border: none;
        }
        a{margin-right:5px;}
        a.cancel{background: #6EBBFC;}
        
    }
    
}